<header>
	<div id="logo">
		Petsonix
	</div>
	<!-- SEARCH BOX HERE -->
	<nav>
		<li><% link_to 'Home', root_path %></li>
		<li><% link_to 'About', about_path %></li>
		<li><% link_to 'Products', products_path %></li>
		<li><% link_to 'Contact', contact_path %></li>
	</nav>
</header>
